*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 1rem 0;
    margin: 0;
    background: linear-gradient(252.37deg, #BD00FF 5.28%, #00A3FF 98.3%);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 16px;
}

.nav-bar {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 40vw;
}

.arrow-reverse {
    margin-bottom: 2.063rem;
    display: inline-flex;
    margin-left: 2.753rem;
    padding-top: 2.563rem;
    transform: scaleX(-1);
}


ul {
    text-transform: uppercase;
    list-style: none;
    padding: 0 0 1rem 0;
    color: #fff;
}


a {
    padding-left: 2.75rem;
    display: block;
    text-decoration: none;
    padding: 0.875rem;
    padding-left: 2.75rem;
    color: inherit;
    outline: 0;
}

a:focus {
    background: #2D7DFF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 23.813rem;
    height: 100%;
    background: url("bg.jpg");
    background-blend-mode: screen, normal;
    background-size: cover;
    border-radius: 13px;
    color: #FFFFFF;
    margin: 0 auto;
}

header {
    display: flex;
    gap: 6.75rem;
    align-items: center;
}

.menu-bar {
    align-self: start;
    flex-grow: 0;
    margin: 2rem;
    margin-right: 0;
}

.logo {
    color: #2D7DFF;
    font-weight: 800;
    line-height: 89%;
    font-size: 1.5rem;
    flex-grow: 2;
    align-items: center;
}

.left-content {
    margin-top: 6.938rem;
    padding: 2.625rem;

}

.title {
    font-size: 3rem;
    line-height: 89%;
}

.subtitle {
    font-weight: 275;
    font-size: 2.125rem;
    line-height: 111.4%;
    color: #847D93;
    margin-bottom: 2.875rem;
}

.nav-bar {
    background: #2C2931;
}

button {
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
    border: 1px solid #4D4D4D;
    background: transparent;
    color: inherit;
    padding: 1rem 1.2rem;
}

button:focus {
    border: 1px solid #2485FF;
    outline: none;

}

@media only screen and (min-width: 760px)  {
    body {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 2.2rem;
        position: unset;
    }
    .nav-bar {
        display: block;
        width: 100%;
        position: unset;
        height: 100%;
        padding-top: 2.8rem;
        border-radius: 13px 0px 0px 13px;
    }
    ul {
        margin-top: 0;
    }
    .arrow-reverse,
    .menu-bar {
        display: none;
    }
    .container {
        width: 100%;
        padding-left: 1rem;
        border-radius: 0px 13px 13px 0px;
    }
    header {
        display: inline-flex;
        padding: 3.6rem 2.8rem 0;
    }

    .left-content {
        margin-top: 0;
    }
    .title {
        font-size: 3.1rem;
    }
    .subtitle {
        margin-bottom: 3.563rem;
        font-size: 2.3rem;
    }
}

@media only screen and (min-width: 1124px) {
    .body {
        grid-template-columns: 15% auto;
        padding: 5.188rem;
    }
    .container {
        padding-left: 6.313rem;
    }
    .title {
        font-size: 4rem;
    }

    .subtitle {
        margin-bottom: 3.563rem;
        font-size: 3rem;
    }


}
